@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&display=swap');


html, 

body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.wrapper {
    width: 1024px;
    margin: auto;
    padding: 20px 0px 20px 0px;
   
}

nav {
    background-color: #D6A99D;
    color: #000;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav > .wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
   align-items: center;
}

.menu {
    width: 50%;
}

.menu > ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}

.menu > ul > li > a {
    text-decoration: none;
    color: #000;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo > img {
    width: 100px;
}

/* Hero/Jumbotron */

header {
    background: url(/image/header.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    letter-spacing: 5px;
}

.header-opacity {
     background-color: #D6A99D;
     width: 100%;
     height: 100%;
     opacity: 0.6;
     position: absolute;
     top: 0px;
     left: 0px;
}

.header-jumbotron {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.header-jumbotron > h4 {
    color: #000;
    font-size: 1.3rem;
    margin: 0px;
    padding: 0px;
    font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.header-jumbotron > h5 {
    color: #fff;
    margin: 0px;
    padding: 0px;
    font-size: 3.5rem;
    line-height: 3.8rem;
    text-transform: uppercase;
}

.header-jumbotron > p {
    padding: 5px;
    margin: 0px 5px 20px 5px;
    color: #fff;
}

a {
    text-decoration: none;
    color: #000;
    text-shadow: none;
}

.button {
    background-color: #000;
    color: #fff;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
    font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.button-xl {
    font-size: 1.4rem;
    padding: 20px;

}

/* Statistic */

#statistic {
    background-color: #FBF3D5;
    color: #000;
    font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

#statistic > .wrapper {
    display: flex;
    padding: 50px;
    width: 80%;
    justify-content: space-evenly;
}

#statistic > .wrapper > div {
    justify-content: center;
}

#statistic > .wrapper > div > p {
    font-size: 3.5rem;
    margin: 0px;
    padding: 0px;
}

#statistic > .wrapper > div > p > i {
    margin-right: 10px;
}

#statistic > .wrapper > div > small {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

/* Premium Course */

#premium-course {
    background-color: #D6A99D;
    color: #000;
}

#premium-course > .wrapper {
    padding: 50px 0px 50px 0px;
}

#premium-course > .wrapper > h4 {
    text-align: center;
    font-size: 2.8rem;
    padding: 0px;
    margin: 0px;
    font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

#premium-course > .wrapper > h4 > span {
    color: #3674B5;
}

#premium-course > .wrapper > p {
    text-align: center;
    margin: 0px 0px 20px 0px;
    padding: 0px;
}

.grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 50px;
}

.grid > .item {
    border: 1px solid #666;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}

.grid > .item > img {
    width: 15%;
    position: absolute;
    top: 10px;
    right: 10px;
}

.grid > .item > .item-detail {
    padding: 30px;
    font-size: 1.3rem;
    font-weight: bold;
    width: 70%;
}

.grid > .item > .item-detail > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid > .item > .item-detail > div > small {
    color: #000;
    font-size: 1rem;
    font-style: italic;
}

.grid > .item > .item-detail > div > a {
    font-size: 1rem;
    padding: 10px;
}

/* Tentang Saya */

#tentang-saya {
    background-color: #fff;
    color: #000;
}

#tentang-saya > .wrapper {
    padding: 50px 0px 50px 0px;
}

#tentang-saya > .wrapper > h4 {
    text-align: center;
    font-size: 2.8rem;
    padding: 0px;
    margin: 0px;
    font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

#tentang-saya > .wrapper > p {
    text-align: center;
    margin: 0px 0px 20px 0px;
    padding: 0px;
}

#tentang-saya > .wrapper > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
}

#tentang-saya > .wrapper > div > .foto {
    width: 30%;
}

#tentang-saya > .wrapper > div > .foto > img {
    max-width: 100%;
}

#tentang-saya > .wrapper > div > .desc {
    width: 70%;
    padding: 20px;
    margin: 10px;
    background-color: #D6DAC8;
    border-radius: 10px;
}

#tentang-saya > .wrapper > div > .desc > .sosial {
    display: flex;
    width: 30%;
    justify-content: space-between;
    font-size: 20px;
}

/* free course */

#free-course {
    background-color: #D6A99D;
}

#premium-course > .wrapper {
    padding: 50px 0px 50px 0px;
}

#free-course > .wrapper > h4 {
    text-align: center;
    font-size: 2.8rem;
    padding: 0px;
    margin: 0px;
    font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

#free-course > .wrapper > h4 > span {
    color: #3674B5;
}

#free-course > .wrapper > p {
    text-align: center;
    margin: 0px 0px 20px 0px;
    padding: 0px;
}

#free-course > .wrapper > .grid > .item {
    margin: 0px;
    padding: 0px;
}

#free-course > .wrapper > .grid > .item > .item-detail {
    padding: 0px;
    margin: 0px;
    font-size: 1.4rem;
    width: 100%;
}

#free-course > .wrapper > .grid > .item > .item-detail > img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#free-course > .wrapper > .grid > .item > .item-detail > div {
    padding: 10px 20px;
}

/* Footer */

footer {
    text-align: center;
}

footer > .wrapper {
    padding: 30px 0px 30px 0px;
}

/* Hamburger menu */

button.hamburger-menu {
    background: none;
    cursor: pointer;
    border: none;
    display: none;
}

button.hamburger-menu > i {
    color: #fff;
    font-size: 1.5rem;
}

button.hamburger-menu > i.icon-close{
    display: none;
}

/* 
1024 900 768 600
*/

@media only screen and (max-width: 1024px){
    .wrapper{
        width: 90%;
    }

    /* button.hamburger-menu {
    display: none;
} */

}

@media only screen and (max-width: 900px){
    #statistic > .wrapper > div > p {
    font-size: 2.5rem;
    margin: 0px;
    padding: 0px;
}

    #statistic > .wrapper > div > small {
        font-size: 1rem;
    }

    .grid {
        grid-template-columns: 45% 45%;
    }
}

@media only screen and (max-width: 768px){
    .menu {
        width: 60%;
    }
    .header-jumbotron > h4 {
        font-size: 1.5rem;
    }
    .header-jumbotron > h5 {
        font-size: 2rem;
        line-height: 2.2rem;
    }
    .header-jumbotron > p {
        font-size: 0.8rem;
    }
    .button {
        padding: 5px;
    }
    .button-xl{
        font-size: 1.2rem;
        padding: 10px;
    }
    #statistic > .wrapper > div > p {
        font-size: 1.5rem;
        margin: 0px;
    }
}

@media only screen and (max-width: 600px){
    .grid {
        grid-template-columns: 100%;
    }

    #statistic > .wrapper {
        padding: 10px;
        flex-direction: column;
    }

    #statistic > .wrapper > div {
        display: flex;
    }

    #statistic > .wrapper > div > small {
        font-size: 1.5rem;
        padding-left: 10px;
    }

    #tentang-saya > .wrapper > div {
        width: 100%;
    }

    button.hamburger-menu {
        display: inline;
    }

    .menu {
        display: none;
    }

    .tampil {
        display: inline;
    }

    .tampil > ul {
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        position: fixed;
        top: 106px;
        left: 0;
    }

    .tampil > ul > li {
        padding: 10px  20px 10px 20px;
    }
}